<div class="container mt-5">
    <div class="row" *ngIf="this.isJoined else join">
        <div class="col-md-4"><app-user-area [id]=0 [users]="this.userObject" [user]="this.username"></app-user-area></div>
        <div class="col-md-4"><app-user-area [id]=1 [users]="this.userObject" [user]="this.username"></app-user-area></div>
        <div class="col-md-4"><app-user-area [id]=2 [users]="this.userObject" [user]="this.username"></app-user-area></div>
    </div>
  
    <div class="row mt-5" *ngIf="this.isJoined">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body" style="width: 500x; margin: auto;">
                Current Highest Bid : {{this.getHighBid()}} 
                <br>Current Highest Bidder :  {{this.getHighBidder()}}
                <br>Deadline : <i>Sorry for this. Time is 03:45 AM. right now. I will wake at 06:00 :(</i>
              </div>
            </div>
      </div>
    </div>
  

</div>

<ng-template #join>
    <div class="card">
        <div class="card-body">
          <div class="text-center">
            <input [(ngModel)]="username" type="text" class="form-control mb-2" placeholder="Please enter username" />
            <button class="btn btn-success" (click)="userJoin()">JOIN</button>
          </div>
        </div>
      </div>
</ng-template>

