<div class="card">
  <div class="card-body">
    <div class="text-center">
      <b>User : </b> {{ getUserName() }} 
      <div>
        <input type="text" class="form-control" (keypress)="numberOnly($event)" [disabled]='this.isDisabled()==false' [(ngModel)]="this.price"> <br>
        <button class="btn btn-success" (click)="giveBid()">Place Bid</button>
      </div>
    </div>
  </div>
</div>